/* CSS Document */

body{
	margin:0;
	text-align: left;
	font-family:"Roboto","Poppins",
	"Monterrat"
}

.main-text{ 
	font-family:Roboto;
	font-size: 1.125rem;
}

.author-text{ 
	font-family: Poppins;
	color:#393E46;
	font-size: 1.5rem
}

.top-container{
	background-color:#5b5656;
	position: relative;
	padding-top: 100px;
	text-align: center;
	color: #fff;
}

.profile-container{
	background-color:#fff;
	text-align: center;
}

.middle-container{
	background-color:#fff;
	position: relative;
	padding: 3% 20% 20%;
	color: #000;
	text-align: center;
}

.bottom-container{
	background-color:#5b5656;
	position: relative;
	padding: 3% 20% 20%;
	
	
	
}

.blog-container{
	width:1140px;
	margin:20px auto 0 auto;
}

.about-me{
	margin: 100px auto 100px auto;
	text-align: left;
	line-height: 2;
}


	
.header-kid {
	/* margin: 8px 33%; */
	grid-column-start: 1;
}
	
.container {
	display: grid;
	grid-template-columns: repeat(3, 1 fr);
	grid-template-rows: repeat(4, 1 fr);
	grid-gap: 40px;
	margin: 0 5%;
}
.grid-kid {
	border-top: 4px solid;
	border-radius: 5px;
	box-shadow: 5px 10px 8px #888888;
	height: 280px;
}
.grid-kid img {
	float: right;
	margin-right: 30px;
	margin-top: 20px;
}
.card1 {
	border-color: hsl(180, 62%, 55%);
	grid-area: 2 / 1 / 4 / 2;
}
.card2 {
	border-color: hsl(0, 78%, 62%);
	grid-area: 1 / 2 / 3 / 3;
}
.card3 {
	border-color: hsl(34, 97%, 64%);
	grid-area: 3 / 2 / 5 / 3;
}
.card4 {
	border-color: hsl(212, 86%, 64%);
	grid-area: 2 / 3 / 4 / 4;
}

header {
		grid-template-columns: 1 fr;
		margin: 60px 20px;
		grid-gap: 10px;
		
}

.cards{
	text-align: center;
}

.first  {
	font-weight: 200;
	margin-bottom: 0;
	text-align: center;
}

.second  {
	font-weight: 600;
	margin: 0;
	text-align: center;
}